################################
# macOS
################################
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

################################
# VS Code
################################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

################################
# Python
################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3

# Виртуалки
.env
.venv
venv/
env/
.env.*
pip-wheel-metadata/

################################
# JMeter
################################
# результаты и временные файлы
src/jmeter/results/
**/jmeter.log
*.jtl
*.jmx~
*.tmp
*.bak

################################
# Системные / прочее
################################
.idea/
*.iml
